@model MusFit_FrontDesk.Models.Student
@{
    var message = (string)ViewData["error"] ?? string.Empty;
}
<head>
    <title>會員登入 | MusFit - 享受生活</title>
</head>


<link rel="stylesheet" href="~/css/Login.css"/>

<div class="login container-fluid">
    <div class="row justify-content-around login-container">
        <div class="col-6 login-left">
            <img src="~/image/LOGO.png" class="img-fluid">
        </div>
        <div class="col-6 login-right">
            <div class="login-title">
                <h3>
                    <a href="@Url.Action("Login","Front")">會員登入</a>
                </h3>
            </div>
            <div class="login-content">
                <form class="login-form" name="login-form" method="post" action="@Url.Action("Login","Front")">
                    <div class="from-group mb-4">
                        <span class="icon-user"></span>
                        <label asp-for="SAccount">帳號</label><br>
                        <input asp-for="SAccount" type="text" name="SAccount" >
                    </div>
                    <div class="from-group mb-4">
                        <span class="icon-lock"></span>
                        <label asp-for="SPassword">密碼</label><br>
                        <input asp-for="SPassword" type="password" name="SPassword">

                        @{
                            if (message != "")
                            {
                                        <p id="error" style="color: red"><b>@ViewData["error"]</b></p>
                            }
                        }
                    </div>
                    <div class="from-group mb-4">
                        <button type="submit" name="login" value="login" role="button" aria-pressed="true">登入</button>
                    </div>
                    <div class="from-group mb-4">
                        <span class="icon-lock2">
                            <a href="@Url.Action("ForgetPassword","Front")">忘記密碼</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

