@{
    ViewData["Title"] = "reserve";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    
    
    <!-- Bootstrap CSS -->
    
        
    <!-- Style -->
    
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/formstyle.css">



    <link rel="stylesheet" href="../css/coach_style.css">


    <title>預約參觀 | MusFit - 享受生活</title>
</head>
<style>
    .form-control :focus {
        border-color: #FFF;
        box-shadow: none;
        webkit-box-shadow: none;
    }
</style>


<body>
    <!-- <div style="display: flex; justify-content: center; align-items: center;
            height:  50vh; font-size: 40px;
            background-image: url(/image/3fb22876-1914-4414-8a38-fcd1bf6219e2.jpeg); 
            background-position: center center;
">預 約 體 驗</div> -->
    <div id="example" style=" justify-content: center;align-items: center;font-size: 5vw; z-index: -100; ">
        <br>
        <div style="width: 100%;  text-align: right; z-index: -10;" data-depth="0.1">
            <img width="100%" src="/image/cherry.png" style="opacity: .9;" alt="" srcset="">
        </div>
        <div style=" width: 100%;  text-align: right;  text-align: center;z-index: -10;" data-depth="0.3">
            <img width="80%" src="/image/cherry2.png" style="opacity: .5;" alt="" srcset="">
        </div>
    </div>



    <div class="formscreen" data-aos="fade-up" data-aos-duration="1000">
        <div style="width: 100%; text-align: center;">
            <span class="text-size">預約參觀</span><br>

            至店內參觀就可享免費身體質量檢測，掌握身體狀況事不宜遲！<br>
            請留下您的聯絡方式，我們將有專人於24小時之內與您聯繫<br><br>
        </div>

        <div style="padding: 0 30px;">
            <form action="../" method="POST">
                <label class="form-group" style="border-color: transparent;">
                    <input style="background-color: rgba(0, 0, 0, 0); box-shadow :none; webkit-box-shadow:none;"
                        type="text" class="form-control"  name="sName" required>
                    <span>姓名</span>
                    <span class="border"></span>
                </label>
                <span for="">性別　</span>
                <input style="accent-color: rgb(255, 59, 141);" 
                        type="radio" id="male" name="sGender" value=True>
                <label for="male">男</label>　
                <input style="accent-color: rgb(255, 59, 141);"
                        type="radio" id="female" name="sGender" value=False>
                    <label for="female">女</label>
                <span><br>　</span>
                <label class="form-group">
                    <input style="background-color: rgba(0, 0, 0, 0);
                        box-shadow :none; webkit-box-shadow:none;"
                        type="phone" class="form-control" name="sPhone" required>
                    <span for="">電話</span>
                    <span class="border"></span>
                </label>
                <label class="form-group">
                    <input style="background-color: rgba(0, 0, 0, 0); box-shadow :none; webkit-box-shadow:none;"
                        type="text" class="form-control" name="sMail" required>
                    <span for="">電子郵件</span>
                    <span class="border"></span>
                </label>
                <button style="font-family: 'GenSenRounded';">送出
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>

        <br>
        <span style="font-size: 8px;">※您同意提供個人資料予MusFit為活動資訊通知範圍內之蒐集處理及利用，除非事先經過您的同意，MusFit不會將這些個人資料提供給任何第三人，或移作其他目的使用。
        </span>
        
    </div>
    <div id="example2" style=" justify-content: center;align-items: center;font-size: 5vw; z-index: -100; ">
        <br>
        <div style="width: 100%;  text-align: right; z-index: -10;" data-depth="0.1">
            <img width="100%" src="/image/cherry.png" style="opacity: .9;" alt="" srcset="">
        </div>
        <div style=" width: 100%;  text-align: right;  text-align: center;z-index: -10;" data-depth="0.3">
            <img width="80%" src="/image/cherry2.png" style="opacity: .5;" alt="" srcset="">
        </div>
    </div>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script>
    parallaxInstance = new Parallax(document.getElementById("example"));
    parallaxInstance = new Parallax(document.getElementById("example2"));

</script>


<script>
    AOS.init();
</script>



<!-- <script src="js/jquery.sticky.js"></script> -->






</html>