
.change_information {
    position: relative;
    padding: 10px 25px;
    justify-content: center;
}

    .change_information button {
        background-color: #737576;
        color: white;
    }

    .change_information .btnEdit {
        justify-content: right;
    }

    .change_information img {
        border-radius: 50%;
    }


button:active {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

button:hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }
}
