
.classRecord {
    position: relative;
    padding: 90px 25px;
    justify-content: center;
    height:auto;
}


thead {
    background-color: #F9CAE0;
}


#search {
    background-color: #737576;
    color: white;
    margin-left: 30px;
}

.classRecord_center {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.classRecord_down #classRecord {
    width: 100%;
}



#search:active {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

#search:hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }
}
