
.forget-password {
    position: relative;
    padding: 10px 25px;
    background-color: transparent;
}

    .forget-password .forget-password-container {
        position: relative;
        display: flex;
        height: 555px;
        background-color: transparent;
    }

.forget-password-container .forget-password-center {
    flex: 3;
    text-align: center;
}


.forget-password-center .forget-password-title {
    margin-top: 150px;
}

    .forget-password-center .forget-password-title a {
        font-size: 35px;
        text-decoration: none;
        color: #000;
    }

.forget-password-form div {
    margin-top: 50px;
    text-align: center;
}

.from-group label {
    font-size: 20px;
    padding-right: 180px;
}



.from-group input {
    font-size: 19px;
    width: 350px;
    background-color: transparent;
    border-bottom: 2px solid #000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 20px;
}

input:focus {
    outline: 0px;
    border-bottom: 2.5px solid #000;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #000;
    /* -webkit-background-clip:text; */
}

i {
    color: #17202A;
}



.from-group p {
    visibility: hidden;
    color: red;
    font-size: 15px;
}

.forget-password-form button {
    margin-top: 0px;
    background-color: #F5B7B1;
    color: white;
    font-size: 22px;
    border-radius: 4px;
    border-color: transparent;
    width: 170px;
    height: 35px;
}

button:active {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

button:hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.6);
}

@media(max-width:1000px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}

@media(max-width:800px) {
    body {
        width: auto;
    }

    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}

@media(max-width:600px) {
    .icon-menu {
        color: #17202A;
    }

    .forget-password-container .forget-password-center {
        position: absolute;
        padding: 0%;
    }
}
